<html>
	<head>
		{% block head %}
        <meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}">
        <!-- Docs styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/listr.pack.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.filer.css')}}">
		{% endblock %}
	</head>
	<body >
		{% block body %}
		{% endblock %}
	</body>
</html>
