{% extends "base.html" %}

{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb" dir="ltr">
                    <li class="breadcrumb-item"><a href="{{ url_for('path_view') }}"><i
                            class="fa fa-fw fa-home fa-lg"></i> </a></li>
                    {% for part in path.strip('/').split('/') %}
                        <li class="breadcrumb-item"><a
                                href="{{ url_for('path_view', p='/'+path[:path.find(part)+part|length]+'/') }}"><strong>{{ part }}</strong></a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div id="toolbar" class="form-group clearfix" style="padding: 0 10px;">
            <div class="form-inline" role="" style="float: left">
                <button type="button" class="btn btn-default " onclick="del()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span>删除</span>
                </button>
                <button type="button" class="btn btn-default " onclick="rename()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span>重命名</span>
                </button>
                <button type="button" class="btn btn-default " onclick="transform()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span>转码</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="listr-table" class="table table-hover">
                <thead>
                <tr>
                    <td CLASS="text-xs-center"><input type="checkbox" /> </td>
                    <th class="text-xs-left " data-sort="string">文件名</th>
                    <th class="text-xs-right " data-sort="int">大小</th>
                    <th class="text-xs-right " data-sort="int">修改时间</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <small class="pull-xs-left text-muted" dir="ltr">{{ total.dir }} folders and {{ total.file }}
                            files, {{ total.size | size_fmt }} in total
                        </small>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                {% for entry in contents if entry.type == 'dir' %}
                    <tr>
                        <td class="text-xs-center">
                            <input type="checkbox" name="path" data="dir" value="{{ entry.name }}"/>
                        </td>
                        <td class="text-xs-left " data-sort-value="dir-{{ entry.name | lower }}">
                            <i class="fa fa-fw fa-folder " aria-hidden="true"></i>&nbsp;
                            <a href="{{ entry.name }}/"><strong>{{ entry.name }}</strong></a>
                        </td>
                        <td class="text-xs-right " data-sort-value="-1">&mdash;</td>
                        <td class="text-xs-right " data-sort-value="{{ entry.mtime }}"
                            title="{{ entry.mtime | time_fmt }}">{{ entry.mtime | humanize }}</td>
                    </tr>
                {% endfor %}
                {% for entry in contents if entry.type == 'file' %}
                    <tr>
                        <td class="text-xs-center">
                            <input type="checkbox" name="path" dir="file" value="{{ entry.name }}"/>
                        </td>
                        <td class="text-xs-left " data-sort-value="file-{{ entry.name | lower }}"><i
                                class="fa fa-fw {{ entry.name | icon_fmt }} " aria-hidden="true"></i>&nbsp;
                            <a href="{{ entry.name }}">{{ entry.name }}</a>
                        </td>
                        <td class="text-xs-right " data-sort-value="{{ entry.size }}"
                            title="{{ entry.size }} bytes">{{ entry.size | size_fmt }}</td>
                        <td class="text-xs-right " data-sort-value="{{ entry.mtime }}"
                            title="{{ entry.mtime | time_fmt }}">{{ entry.mtime | humanize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/listr.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
    <script>
        function del(){
            var filelist = []
            $("input[type='checkbox'][name='path']:checked").each(function(i){
                filelist[i] = "{{ path }}"+$(this).val()
            })
            $.ajax({
                url:"{{ url_for('delete') }}",
                data:{
                    "filelist":JSON.stringify(filelist)
                },
                dataType:"JSON",
                success:function(ret){
                    if(ret.result==1){
                        window.location.reload();
                    }
                }
            })
        }
        function rename(){
            var filelist = []
            $("input[type='checkbox'][name='path']:checked").each(function(i){
                filelist[i] = "{{ path }}"+$(this).val()
            })
            if(filelist.length>1 || filelist.length==0){
                $.alert({
                    title: 'Alert!',
                    content: '选择一个文件!',
                });
                return ;
            }
            $.confirm({
                title: 'Prompt!',
                content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' +
                '<label>文件名</label>' +
                '<input type="text" id="name"  placeholder="新文件名" class="name form-control" required />' +
                '</div>' +
                '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.name').val();
                            if(!name){
                                $.alert('请填写内容');
                                return false;
                            }
                            $.ajax({
                                url:"{{ url_for('rename') }}",
                                data:{
                                    "old_name":filelist[0],
                                    "new_name":"{{ path }}"+name
                                },
                                dataType:"JSON",
                                success:function(ret){

                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
        function transform(){

        }
    </script>
{% endblock %}

