{% extends "base.html" %}

{% block title %}
    Simple Player - {{ video_file.split('.')[0] }}
{% endblock %}
{% block body %}
    <main role="main" id="main">
        <h1>{{ video_file }}</h1>
        <section>
            <video controls crossorigin width="600px" height="500px">
                <source src="/video?file={{ video_file }}" type="video/{{ video_file.split('.')[-1] }}">

            </video>
        </section>
    </main>
    <script src="https://cdn.plyr.io/2.0.13/plyr.js"></script>

    <!-- Docs script -->
    <script src="https://cdn.plyr.io/2.0.13/demo.js"></script>

    <!-- Rangetouch to fix <input type="range"> on touch devices (see https://rangetouch.com) -->
    <script src="https://cdn.rangetouch.com/1.0.1/rangetouch.js" async></script>

    <!-- Sharing libary (https://shr.one) -->
    <script src="https://cdn.shr.one/1.0.1/shr.js"></script>
    <script>if(window.shr) { window.shr.setup({ count: { classname: 'btn__count' } }); }</script>
{% endblock %}
